


    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-1.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-2.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-3.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-4.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-5.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-6.png" />
    </div>
    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-7.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-8.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-9.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-10.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-11.png" />
      <img class="img-responsive student-work" src="images/student-works/dominic-yarmie-12.png" />
    </div>
