


    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-1.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-2.jpg" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-3.jpg" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-4.jpg" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-5.jpg" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-6.jpg" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-7.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-8.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-9.png" />
    </div>
    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-10.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-11.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-12.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-13.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-14.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-15.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-16.png" />
      <img class="img-responsive student-work" src="images/student-works/gregory-tinga-17.png" />
    </div>
