


    <div class="col-xs-6 student-work-container">
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
    </div>
    <div class="col-xs-6 student-work-container">
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
      <a href="images/student-works/ian-mckenzie-1.jpg" data-toggle="lightbox" data-gallery="ian-mckenzie">
        <img class="img-responsive student-work" src="images/student-works/ian-mckenzie-1.jpg" alt="student portfolio Ian Mckenzie"/>
      </a>
    </div>
