


    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-1.jpg" />
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-2.png" />
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-3.jpg" />
    </div>
    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-4.jpg" />
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-5.jpg" />
      <img class="img-responsive student-work" src="images/student-works/matt-boucher-6.jpg" />
    </div>
