


    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-1.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-2.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-3.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-4.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-5.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-6.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-7.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-8.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-9.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-10.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-10.jpg" />
    </div>
    <div class="col-xs-6 student-work-container">
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-12.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-13.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-14.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-15.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-16.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-17.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-18.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-19.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-20.jpg" />
      <img class="img-responsive student-work" src="images/student-works/nathaniel-tubb-21.jpg" />
    </div>
