@media (max-width: 420px){
  /* Nav */
  .navbar-brand {
    font-size: 1em;
  }

  /* Main */
  .panel, .info-icon, .faculty-panel {
    max-height: 205px;
  }

  .faq-container .empty-panel.faq-panel {
    height: 200px;
  }

  .where-who-container {
    max-width: 85%;
  }

  .info-icon svg {
    max-height: 60%;
    margin: 10px;
    margin-top: 20px;
  }
}
