@media (max-width: 820px){
  /* Nav */
  .nav-item, .list-nav-item {
    width: 100%;
  }

  /* Main Body */
  main {
    padding-top: 201px;
  }

  .slide-modal {
    margin-top: 201px;
  }

  .panel, .info-icon, .faculty-panel {
    overflow: hidden;
    max-height: 243px;
  }

  .panel h3 {
    font-size: 18px;
  }

  .info-icon {
    padding: 10px;
    padding-bottom: 0px;
  }

  main .info-icon-container .row {
    padding: 0px 0px;
    padding-top: 25px;
  }
}
